/* #MyNameTxt {
    color: whitesmoke;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    border: 0;
    padding: 0;
    align-content: center;
    text-align: center;
    text-decoration: none;
}

#MyNameTxtOff {
    color: #353535;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    border: 0;
    padding: 0;
    align-content: center;
    text-align: center;
}
#MyNameBG {
    height: 100px; 
    width: 500px; 
    border: 0;
    padding: 0;
    background-color: black;
    float: left;
}

#MyNameBGoff {
    height: 100px; 
    width: 500px; 
    border: 0;
    padding: 0;
    background-color: #eeeeee;
    float: left;
}


.HeaderBar {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 0px 25px 0px;
    border: 0;
    padding: 0;
    align-content: center;
    text-align: center;
    color: #353535;
}

#ActiveHeaderBar {
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 25px 0px 25px 0px;
    border: 0;
    padding: 0;
    align-content: center;
    text-align: center;
    color: whitesmoke;
}

.ColumnHead
{
    background-color: #eeeeee;
}

#ActiveColumnHead
{
    background-color: black;
} */

#background {
    background-color: #dadada;
    z-index: 1;
    padding: 0 0 0 20px;
}

/* a :hover {
    background-color: black;
    color: white;
} */


#gitLogo {
    display: flex;
    align-content: center;
    margin: 20px 50% 20px 50%;
}

.contentBox {
    width: 400px;
    height: 250px;
    background-color: #353535;
    margin: 10px 2% 10px 2%;
    border: 5px white solid;
    position: relative;
    z-index: 2;
    }
.contentBoxBanner{
    float: left;
    display: flex;
    width: 380px;
    height: 50px;
    background-color: #757575;
    margin: 185px 0px 0px 5px;
    position: absolute;
    z-index: 4;
}

.txtBoxBanner{
    font-size: 2em;
    letter-spacing: 3pt;
    text-transform: uppercase;
    padding: 8px;
    color: white;
    margin: 0px;
}

.imgBox{
    height: 230px;
    width: 380px;
    margin: 5px;
}
.contentBoxImg{
    position: absolute;
    z-index: 3;
}
.txtBlockContainer {
    padding: 10px;
    width: 80vw;
    min-height:250px;
    height:auto !important; 
    -moz-box-flex: inherit;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    background-color: #353535;
    margin: 10px 5% 10px 5%;
    border: 5px white solid;
    position: relative;
    z-index: 2;
    font-size: 1.5em;
}
.txtBlock {
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
    color: white;
    font-size: 1.5em;
}

.icon-bar {
    background-color: black;
}
